@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-primary {
        @apply rounded-lg border-2 border-[#333] bg-primary px-4 py-2 text-center text-lg font-medium text-[#333] shadow-[4px_4px_0px_0px_#333];
    }

    .btn-primary2 {
        @apply rounded-lg bg-primary px-4 py-2 text-center text-lg font-medium text-[#333] shadow-[4px_4px_0px_0px_#333];
    }

    .btn-secondary {
        @apply rounded-lg border-2 border-[#333] bg-white px-4 py-2 text-center text-lg font-medium text-[#333] shadow-[4px_4px_0px_0px_#333];
    }
}

.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    margin-inline: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 50vw;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5);
}
