@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-primary {
        @apply flex items-center justify-center rounded-lg border-2 border-[#333] bg-primary px-4 py-2 text-center text-lg font-medium text-[#333] shadow-[4px_4px_0px_0px_#333] disabled:opacity-80;
    }

    .btn-primary2 {
        @apply flex items-center justify-center rounded-lg bg-primary px-4 py-2 text-center text-lg font-medium text-[#333] shadow-[4px_4px_0px_0px_#333] disabled:opacity-80;
    }

    .btn-secondary {
        @apply flex items-center justify-center rounded-lg border-2 border-[#333] bg-white px-4 py-2 text-center text-lg font-medium text-[#333] shadow-[4px_4px_0px_0px_#333] disabled:opacity-80;
    }
}

body {
    font-family: "General Sans", sans-serif;
}

.font-satoshi {
    font-family: "Satoshi", "Roboto", sans-serif;
}
@media (min-width: 768px) {
    .custom-scrollbar::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        margin-inline: 4px;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.35);
        border-radius: 50vw;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        background-color: rgba(0, 0, 0, 0.5);
    }
}
.loader {
    width: 28px;
    height: 28px;
    border: 3px solid;
    border-color: #333 transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 750ms linear infinite;
    position: static !important;
}
.loader-dark {
    border-color: #333 transparent;
}
.loader-light {
    border-color: #fff transparent;
}
.loader-primary {
    border-color: rgb(150 217 5) transparent;
}
.loader-sm {
    width: 22px;
    height: 22px;
    border: 3px solid;
}
.loader-lg {
    width: 36px;
    height: 36px;
    border-width: 4px;
}
.loader-xl {
    width: 45px;
    height: 45px;
    border-width: 5px;
}
.loader-2xl {
    width: 56px;
    height: 56px;
    border-width: 6px;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
